<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="classpath:/META-INF/spring/integration/inbound-gateway-config.xml"/>

	<!-- Ensures that all incoming requests will be routed to the ws:inbound-gateway -->
	<bean class="org.springframework.ws.server.endpoint.mapping.UriEndpointMapping">
		<property name="defaultEndpoint" ref="ws-inbound-gateway"/>
	</bean>

</beans>
