<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%t][%c] %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="info"/>
		<Root level="info">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>
